.engineer{
    font-style: italic;
    font-weight: 500;
}

body{
    background-color: #070F2B;
}

.introduction{
    background-color: #393E46;
    color: white;
}

h1{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    color: #9290C3;
}

.intro .qualifications{
    display: block;
}

.nav{
    background-color: #1B1A55;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}

.nav > div{
    width: 125px;
    display: flex;
    justify-content: space-around;
}

.examCert {
    width: 300px;  /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    object-fit: cover;
}

.card{
    width: 18rem; 
    overflow: hidden;
    background-color: #535C91;
}
button:hover{
    background-color: #9290C3;
}

